<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Demande de contact par {{contact.getFirstName()}} {{contact.getLastName()}}</h1>
        <p>Mail de contact : {{contact.getSender()}}</p>
        <p>Questions du contact : {{contact.getContent()|raw}}</p>
    </body>
    
</html>